body{
    margin: 2rem;
}
.App{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,25rem));
    gap: 3rem;
    justify-content: center;
    height: 30%;
}
.Card{
    overflow: hidden;
    box-shadow: 0 2px 20px lightblue;
    
    
    
}

img{
    
    border-radius: 50%;
    width: 10%;
    height: 3%;
    
    left: 20%;

}